@import "inc/bootstrap";

.sts-scope{
    .sts-studentToolSample.hint-box {
        position: absolute;
        top: 70px;
        left: -1px;
        padding: 5px 10px;
        min-width: 200px;
        border-radius: 3px;
        background-color: $infoBgColor;
        border: 1px solid $infoBorderColor;
    }
    .compact .sts-studentToolSample.hint-box{
        top: 45px;
    }
}